<html>
    <head><title></title></head>
    <body>
        <div id="divHeader">
            <div id="contenedorTema">
                <h1 id="textoHeader">Bienvenido</h1>
            </div>
        </div>

        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Ingredientes populares">

            </mat-tab>
            <mat-tab label="Platillos">

            </mat-tab>
            <mat-tab label="Perfil del usuario">
                
            </mat-tab>
        </mat-tab-group>
    </body>

</html>